*.dSYM
*.dSYM.zip
*.hmap
*.ipa
*.xcodeproj
.build/
.direnv
.swiftpm
Carthage/Build/
Package.pins
Package.resolved
Packages/
fastlane/Preview.html
fastlane/report.xml
fastlane/screenshots/**/*.png
fastlane/test_output
playground.xcworkspace
result
timeline.xctimeline
xcuserdata/
